
body {background-color:#dcdcdc;}
#header
{
position:relative;
top: 10px;
margin-left: 20px;
}
#menu
{
margin-left: 20px;
margin-top: 10px;
}
#menu ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
text-align:center;
}
#menu li
{
display:inline;
float:left;
border:1px solid #003366;
}
#menu a:link, #menu a:visited
{
display: block;    
width:200px;
text-align:center;
font: bold Times New Roman;
color:#FFFFFF;
text-decoration:none;
background-color:#4682B4;
padding:5px;
}
#menu a:hover, #menu a:active
{
background-color:#191970;
}
#introduction a:link, #introduction a:visited{
text-decoration:none;
color:black;
}
#introduction a:hover{
text-decoration:none;
color:white;
}
#introduction
{
width: 635px;
margin-left: 20px;
}
h1
{
font: bold Times New Roman;
color:#003366;
font-size: 30px;
}
#footer
{
position: relative;
top:20px;
margin-left: 20px;    
}
#table{
position:relative;
margin-left: 20px;
margin-top: 20px;
}
#table table,th,td
{
padding: 5px;
text-align:left;
border: 1px solid #003366;
border-collapse:collapse;
}
#table th{
background-color:#4682B4;
font: Times New Roman;
color:#FFFFFF;
}
#script{
    margin-left: 20px;
    margin-top: 20px;
}
